

<section class="flex flex-col justify-center items-start h-[80vh]">
    <div id="intro" class="text-xl md:text-2xl text-gray-100 whitespace-pre-line"></div>
    <script type="module" is:inline>
        import { runTyping } from "../../public/scripts/typing.js";
        runTyping();
    </script>
</section>
